@media (max-width: 500px) {
    .sec1 {
        height: 100vh;
    }
    header {
        padding: 0 15px;
        height: 42px;
    }
    header .logo {
        width: 66px;
    }
    header .head {
        width: 77%;
    }
    header .admin-information {
        width: 120px;
    }
    header .admin-information i {
        font-size: 12px;
    }
    header .admin-information .admin-image {
        width: 19px;
    }
    header .admin-information .admin-name {
        font-size: 11px;
    }
    .search, .users .search {
        width: 125px;
        height: 21px;
        padding: 10px;
    }
    .search input {
        width: 80px;
        font-size: 8px;
    }
    .search i {
        font-size: 10px;
        margin-right: 6px;
    }
    .sec1 .main {
        width: 100%;
        height: 100vh;
    }
    .sec1 .sidebar{
        width: 44%;
        height: 100%;
        position: absolute;
        z-index: 9;
    }
    .sec1 .sidebar .menu {
        position: absolute;
        opacity: 0;
        transition: 0.3s;
        transform: translateX(-166px);
        top: 0;
    }
    .sec1 .sidebar .menu .ul {
        width: 70%;
    }
    .sec1 .sidebar .menu .ul li a {
        font-size: 10px;
    }
    .sec1 .sidebar .bars-for-mobile{
        display: block;
        padding: 10px;
        transition: 0.3s;
        z-index: 99;
    }
    .sec1 .sidebar .bars {
        display: none;
    }
    #open-menu:checked ~ .bars-for-mobile {
        left: 100px;
    }
    #open-menu:checked ~ .menu {
        transform: translateX(0);
        opacity: 1;
        z-index: 3;
    }
    .resource-title, .dashboards-title{
        font-size: 10px;
    }
    .resource-title i, .dashboards-title i {
        font-size: 10px;
    }
    .dashboards .grip, .layer-group {
        margin-left: -18px;
    }
    li, a {
        font-size: 9.3px;
    }
    .user-rates{
        width: 100%;
        height: 20%;
        padding: 10px;
    }
    .user-rates{
        width: 100%;
        height: 20%;
        padding: 15px;
    }
    .user-rates {
        width: 100%;
        height: 20%;
        padding: 10px;
    }
    .user-rates .current-users, .new-users {
        width: 183px;
        height: 84px;
        margin-right: 10px;
    }
    .user-rates h1 {
        font-size: 10px;
    }
    .user-rates .row1 {
        padding: 8px;
        align-items: start;
        height: 38%;
    }
    .user-rates .current-users .row1 select {
        padding: 2px;
        width: 53px;
        height: 18px; 
        font-size: 7px;
    }
    
    .user-rates .rate {
        padding: 0px 10px;
        height: 45;
        
    }
    .user-rates .current-users .rate img {
        width: 23px;
        margin-right: 5px;
    }
    .user-rates .current-users .rate span {
        font-size: 17px;
    }
    .user-rates span {
        font-size: 17px;
    }
    .user-rates .new-users .new-user-rate {
        height: 13px;
    }
    .user-rates .new-users .rate {
        height: 45px;
    }
    .user-rates .new-users .new-user-rate div {
        width: 75%;
        height: 83%;
    }
    .users {
        width: 100%;
        padding: 0 10px;
        height: 400px;
        margin: 0 auto;
    }
    .users .title {
        padding: 4px;
    }
    .users .title h1 {
        font-size: 18px;
    }
    .users .users-table {
        width: 100%;
        height: 80%;
    }
    
    .users .users-table table {
        padding: 12px;
    }
    .users .users-table table thead {
        font-size: 9px;
    }
    .avatar {
        width: 50px;
    }
    .users .users-table table tbody {
        font-size: 7px;
    }
    
    tbody tr td {
        padding: 2px;
    }
    .users .users-table table tbody .id {
        width: 24px;
        font-size: 9px;
    }
    .users .users-table table tbody tr td img{
        width: 20px;
    }
    .users .users-table table tbody tr td .icon{
        font-size: 10px;
    }
    .users .users-table table tbody tr td i {
        font-size: 8px;
    }
    .users .users-table table tbody tr td input {
        width: 12px;
        opacity: 0.5;
    }
    .users .users-table table tbody tr td .check,.users .users-table table tbody tr td .check-red {
        font-size: 5px;
    }

    /* form */
    .form-title {
        padding: 0 20px;
        font-size: 12px;
    }
    .form-title span {
        font-size: 10px;
    }
    .form {
        padding: 0 20px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .form div {
        width: 90%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .form label {
        color:#224c53ce;
        font-weight: 600;
        font-size: 12px;
    }
    .form input, select, textarea {
        width: 100%;
        height: 37px;
    }
    .form .name {
        width: 100%;
        height: 160px;
    }
    .form .name .first-name{
        margin: 15px 0 10px 0;
    }
    .form .email {
        width: 100%;
    }
    .form .country {
        width: 100%;
    }
    .form .email .mail, select{
        width: 100%;
        color: #224c53ce;
        margin: 0;
    }
    .form .message {
        width: 100%;
        border: none;
        padding: 0;
        margin: 10px 0;
    }
    .form .message textarea{
        width: 100%;
        height: 100px;
        margin-top: 15px;
    }
    .form .submit{
        width: 100%;
    }
    .form .submit i{
        font-size: 11px;
        right: 59%;
        top: 16px;
    }
}    

